html {
    height:100%;
}

body { 
     min-height:100%;
     position: relative;
}

[contenteditable] {
    outline: 0px solid transparent;
}

.headline-container, .headline-container > div {
    display: flex;
    justify-content: space-between;
}
#canvas {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0px 0px 10px red inset, 0px 0px 10px red;
}

.toogle-canvas {
    position: absolute;
    z-index: 2;
}