<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> [[PAGE_TITLE]] </title>
    <meta name="description" content="Official open source SVG icon library for Bootstrap">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
      .__none {
        display: none !important;
      }
      .__block {
        display: block !important;
      }
      .__inline {
        display: inline !important;
      }
      .__inlineblock {
        display: inline-block !important;
      }
      .__flex {
        display: flex !important;
      }
      .michal-btn-primary {
        color: #fff;
        background-color: #0d6efd;
        border-color: #0d6efd;
      }
    </style>
    <script defer="" src="./bundle.js?v.[[PROJECT_1_VERION]]"> </script>

    <!-- JavaScript Bundle with Popper -->
    <script defer="" src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </head>
  <body class="michal-1 bg-dark text-light pt-3 mt-3 text-center text-md-start">
    <div id="app">

      <!-- NAVBAR  -->
      <nav id="navbar" class="navbar navbar-expand-md navbar-dark bg-dark shadow-lg fixed-top border-bottom border-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="[[PAGE_URL_HOME]]"> poznaj-testy.pl
          </a>
          <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <a href="[[PAGE_URL_GOOD_ANSWERS]]" class="btn btn-success btn-sm"> {{goodAns}}
            </a>
            <a href="[[PAGE_URL_BAD_ANSWERS]]" class="btn btn-danger btn-sm"> {{badAns}}
            </a>
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
            </span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-center h-100 d-flex align-items-center justify-content-center" href="[[PAGE_URL_HOME]]"> Strona główna
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-center h-100 d-flex align-items-center justify-content-center" href="[[PAGE_URL_PRICING]]"> Cennik
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-center h-100 d-flex align-items-center justify-content-center" href="[[PAGE_URL_BLOG]]"> Blog
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-center h-100 d-flex align-items-center justify-content-center" href="[[page_slug_pl_category]]"> Kategorie prawa jazdy
                </a>
              </li>
              <li class="nav-item mb-2 mb-md-0">
                <a class="nav-link text-center h-100 d-flex align-items-center justify-content-center" href="[[PAGE_URL_LOGIN]]"> Logowanie
                </a>
              </li>
              <li class="nav-item mb-2 mb-md-0">
                <a class="nav-link text-center h-100 d-flex align-items-center justify-content-center" href="[[PAGE_URL_REGISTER]]"> Rejestracja
                </a>
              </li>
              <form class="m-0">
                <a class="btn btn-secondary w-100" :class="{'btn-success':uidFromAuth,'btn-danger':!uidFromAuth}" href="[[PAGE_URL_USER_ACCOUNT]]">Twoje konto
                </a>
              </form>
            </ul>
          </div>
        </div>
      </nav>

      <!-- MAIN  -->
      <main class="michal-2 pt-5">
        <div class="michal-3 container-fluid">
          <h1>this is header.html</h1>
        </div>
      </main>

      <!-- FOOTER  -->
      <footer id="footer" class="bg-dark text-light mt-5">
        <div class="text-center mx-1 mx-md-5">
          <div class="container-fluid">

            <!-- ROW  -->
            <div class="row">
              <div class="col-md-4">
                <h4>Polecane strony:</h4>
                <p>{{window.w}} x {{window.h}}</p>
              </div>
              <div class="col-md-4">
                <h4>Niepolecane strony:</h4>
                <p>
                  <a href="404.html"> 404
                  </a>
                </p>
                <p>
                  <a href="kslgodgfiowjrg.html"> page that not exists.
                  </a>
                </p>
              </div>
              <div class="col-md-4">
                <h4>Polecane strony:</h4>
                <p>
                  <a href="[[PAGE_URL_TERMS]]">Regulamin
                  </a>
                </p>
                <p>
                  <a href="[[PAGE_URL_PRIVACY]]">Polityka prywatności
                  </a>
                </p>
                <p>
                  <a href="[[PAGE_URL_CONTACT]]">Kontakt
                  </a>
                </p>
              </div>
            </div>

            <!-- ROW  -->
            <div class="row">
              <div class="col-md-12">
                <p class="text-center">
                  <small>Testy na prawo jazdy {{year}} </small>
                </p>
                <p>version [[PROJECT_1_VERION]]</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Button trigger modal -->

        <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#change-category-modal"> Launch demo modal
          </button> -->

        <!-- Modal -->
        <div class="modal fade" id="change-category-modal" tabindex="-1" aria-labelledby="change-category-modal-label" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content border-warning bg-dark text-light">
              <div class="modal-header">
                <h5 class="modal-title" id="change-category-modal-label"> Zmieniłeś domyślną kategorię testów na prawo jazdy na kategorię: <span class="badge bg-warning text-dark"> {{selectedCategory.toUpperCase()}} </span>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
              </div>
              <div class="modal-body">
                <p> Przejdź do pytań testowych na kategorię {{selectedCategory.toUpperCase()}} - testów na prawo jazdy z {{year}} roku. </p>
                <div m-loop="[[all_categories]]" class="d-grid gap-2 mb-2">
                  <a v-show="isSelectedCategory('xxx')" href="[[xxx_first_question_url]]" class="btn btn-primary mb-3 w-100"> Przejdź do przeglądania pytań testowych z kategorii:
                    <strong> Xxx </strong>
                  </a>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij
                </button>
              </div>
            </div>
          </div>
        </div>
      </footer>

      <!-- RIGHT SIDEBAR  -->
      <div id="right_sidebar" style="min-height: calc(100vh - 5rem)" class="border border-danger border-2 mt-5 mt-lg-0 p-2 d-flex justify-content-center align-items-center">
        <div>
          <h2> RIGHT SIDEBAR </h2>
          <p>uidFromAuth === {{uidFromAuth}}</p>
          <br>
          <br>
          <p>userData:</p>
          <pre class="text-start">{{JSON.stringify(userData,null,2)}}</pre>
        </div>
      </div>
    </div>
  </body>
</html>