<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> [[PAGE_TITLE]] </title>
    <meta name="description" content="Official open source SVG icon library for Bootstrap">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
      .__none {
        display: none !important;
      }
      .__block {
        display: block !important;
      }
      .__inline {
        display: inline !important;
      }
      .__inlineblock {
        display: inline-block !important;
      }
      .__flex {
        display: flex !important;
      }
      .michal-btn-primary {
        color: #fff;
        background-color: #0d6efd;
        border-color: #0d6efd;
      }
    </style>
    <script defer="" src="./bundle.js?v.[[PROJECT_1_VERION]]"> </script>

    <!-- JavaScript Bundle with Popper -->
    <script defer="" src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </head>
  <body class="michal-1 bg-dark text-light pt-3 mt-3 text-center text-md-start">

    <!-- APP  -->
    <div id="app">

      <!-- NAVBAR  --> [[navbar]]

      <!-- MAIN  -->
      <main class="michal-2 pt-5">

        <!-- CONTAINER  -->
        <div class="michal-3 container-fluid">

          <!-- ROW  -->
          <div class="row">
            <div class="col-12 col-lg-6">

              <!-- HEADLINE -->
              <div class="row">
                <div class="col">
                  <p> To pytanie należy do kategorii <span>[[category.toUpperCase()]]</span> , testów na prawo jazdy z {{year}} roku.
                    <a href="[[page_slug_pl_category]]"> Zmień kategorię prawa jazdy.
                    </a>
                  </p>
                </div>
              </div>

              <!-- ROW ROW QUESTION INFO -->
              <div class="row mb-2 text-center">
                <div class="col-3">
                  <div class="text-secondary h-100 d-flex justify-content-center align-items-center">
                    <span> pkt: [[score]] </span>
                  </div>
                </div>
                <div class="col-3">
                  <div class="text-secondary h-100 d-flex justify-content-center align-items-center">
                    <span> kat: [[category.toUpperCase()]] </span>
                  </div>
                </div>
                <div class="col-6">
                </div>
              </div>

              <!-- ROW ROW MEDIA-->
              <div class="row">
                <div class="col">
                  <video ref="videoRef" m-if="is_video" src="[[HOSTNAME]]/[[media]].mp4" controls="true" __video_autoplay__="" class="w-100 shadow border border-dark border-3">
                  </video>
                  <img m-if="!is_video" src="[[HOSTNAME]]/[[media]].png" class="w-100 img-fluidFromAuth shadow" alt="#">
                </div>
              </div>

              <!-- ROW ROW QUESTION TEXT -->
              <div class="row">
                <div class="col">
                  <h1 class="display-6 text-start shadow-bottom"> [[text]] </h1>
                </div>
              </div>

              <!-- ROW ROW BUTTONS TO CLICK ANSWER-->
              <div class="row mb-2">

                <!-- ANSWER a/b/c -->
                <div m-if="a" m-loop="a,b,c" class="col">
                  <button @click="handleAnswerClick('xxx')" class="btn btn-lg btn-block w-100 mb-2 text-start" :class="validateAnswerCss('xxx')">
                    <span>[[xxx]]</span>
                  </button>
                </div>

                <!-- ANSWER t/n -->
                <div m-if="!a" class="col d-flex justify-content-center mb-2">
                  <div m-loop="t,n">
                    <button @click="handleAnswerClick('xxx')" class="btn btn-secondary btn-lg px-3 mx-3" :class="validateAnswerCss('xxx')">
                      <span> [[xxx]] </span>
                    </button>
                  </div>
                </div>
              </div>

              <!-- ROW ROW -->
              <div class="row __none" :class="{__flex:true}">
                <div class="col">

                  <!-- CLICKED CORRECT ANSWER INFO -->
                  <div v-if="isCorrectAnswerClicked" class="my-1">
                    <div>
                      <a href="[[PAGE_URL_GOOD_ANSWERS]]" class="btn btn-success">
                        <span> Gratulacje! To Twoja {{goodAns}} dobra odpowiedź. Zobacz pełną listę Twoich dobrych odpowiedzi
                          <u>tutaj</u>.</span>
                      </a>
                    </div>
                    <div v-if="!uidFromAuth" class="py-3">
                      <a href="[[PAGE_URL_LOGIN]]" class="btn btn-warning">
                        <strong> Zaloguj się! </strong>
                        <span> - </span>
                        <span> aby system zapamiętywał Twoje odpowiedzi!
                          <u>TUTAJ</u></span>
                      </a>
                    </div>
                  </div>

                  <!-- CLICKED NOT CORRECT ANSWER INFO -->
                  <div v-if="isNotCorrectAnswerClicked" class="my-1">
                    <div>
                      <a href="[[PAGE_URL_BAD_ANSWERS]]" class="btn btn-danger">
                        <span> Niestety! To Twoja {{badAns}} zła odpowiedź. Zobacz pełną listę Twoich złych odpowiedzi
                          <u>tutaj</u>.</span>
                      </a>
                    </div>
                    <div v-if="!uidFromAuth" class="py-3">
                      <a href="[[PAGE_URL_LOGIN]]" class="btn btn-warning">
                        <strong> Zaloguj się! </strong>
                        <span> - </span>
                        <span> aby system zapamiętywał Twoje odpowiedzi!
                          <u>TUTAJ</u></span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <!-- ROW ROW PREVIES NEXT -->
              <div class="row mb-2">
                <div class="col-6 mb-2">
                  <a m-if="prev_question_url" href="[[prev_question_url]]" class="btn btn-primary btn-lg btn-block w-100"> poprzednie
                  </a>
                </div>
                <div class="col-6 mb-2 text-end">
                  <a m-if="next_question_url" href="[[next_question_url]]" class="btn btn-primary btn-lg btn-block w-100"> następne
                  </a>
                  <div m-if="!next_question_url" class="h-100 d-flex justify-content-center align-items-center">
                    <button disabled="" class="btn btn-primary btn-lg btn-block w-100"> KONIEC
                    </button>
                  </div>
                </div>
              </div>

              <!-- ROW ROW VOTE HEADLINE -->
              <div class="row">
                <div class="col">
                  <div class="small text-center">
                    <p>
                      <strong> Oceń znajomość tego pytania: </strong>
                      <br>
                      <span>(będziesz mógł przeglądać ocenione pytania)</span>
                    </p>
                  </div>
                </div>
              </div>

              <!-- ROW ROW VOTE BUTTONS-->

              <!-- <div class="row mb-2">
                <div class="col-4 mb-2">
                  <button :class="{'btn-light': isVoteClicked('good'), 'text-dark': isVoteClicked('good')}" class="btn btn-outline-light btn-sm btn-block w-100" @click="handleVoteClick('good')">
                    <span> dobrze </span>
                  </button>
                </div>
                <div class="col-4 mb-2">
                  <button :class="{'btn-light': isVoteClicked('average'), 'text-dark': isVoteClicked('average')}" class="btn btn-outline-light btn-sm btn-block w-100" @click="handleVoteClick('average')">
                    <span> średnio </span>
                  </button>
                </div>
                <div class="col-4 mb-2">
                  <button :class="{'btn-light': isVoteClicked('bad'), 'text-dark': isVoteClicked('bad')}" class="btn btn-outline-light btn-sm btn-block w-100" @click="handleVoteClick('bad')">
                    <span> słabo </span>
                  </button>
                </div>
              </div> -->

              <!-- ROW ROW -->
              <div class="row mb-2">

                <!-- PROGRESS  -->
                <div class="col">
                  <h2> Twoje postępy w nauce: </h2>
                  <a href="[[PAGE_URL_GOOD_ANSWERS]]" class="btn btn-success w-100 d-block mb-2">Dobrze odpowiedziałeś na {{goodAns}} pytań.
                    <u>zobacz.</u>
                  </a>
                  <a href="[[PAGE_URL_BAD_ANSWERS]]" class="btn btn-danger w-100 d-block mb-2">Średnio odpowiedziałeś na {{badAns}} pytań.
                    <u>zobacz.</u>
                  </a>
                </div>
              </div>

              <!-- ROW ROW -->
              <div class="row mb-2">

                <!-- EXPLANATION -->
                <div class="col mb-2 text-start">
                  <h2> Wyjaśnienie pytania z testów na prawo jazdy: </h2>
                  <div style="filter: blur(0px)">
                    <div>
                      <p>[[expl]]</p>
                    </div>
                    <p>[[low_name]]</p>
                    <p>[[low_names]]</p>
                    <div>[[low]]</div>

                    <!-- <div>Źródło: [[low_name]]</div>
                    <div>topic [[topic]]</div> -->
                  </div>
                </div>
              </div>

              <!-- ROW ROW -->
              <div class="row">
                <div class="col">
                  <h2> Szczegóły dotyczące tego pytania testowego: </h2>
                  <div class="table-responsive">
                    <table class="table table-dark">
                      <caption>Powyższa tabela przedstawia szegółowe informacje dotyczące pytania z testów na prawo jazdy. Informacje są aktualne w {{styczniu}} {{year}}</caption>
                      <thead>
                        <tr>
                          <th scope="col">Co?</th>
                          <th scope="col">Info!</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">Id w bazie danych ministerstwa transportu</th>
                          <td>{{id}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Treść pytania</th>
                          <td>[[text]]</td>
                        </tr>
                        <tr m-if="a">
                          <th scope="row">Odpowiedź A</th>
                          <td>[[a]]</td>
                        </tr>
                        <tr m-if="b">
                          <th scope="row">Odpowiedź B</th>
                          <td>[[b]]</td>
                        </tr>
                        <tr m-if="c">
                          <th scope="row">Odpowiedź C</th>
                          <td>[[c]]</td>
                        </tr>
                        <tr m-if="!a">
                          <th scope="row">Odpowiedź</th>
                          <td>[[t]] / [[n]]</td>
                        </tr>
                        <tr>
                          <th scope="row">Poprawna odpowiedź</th>
                          <td>{{correct_answer}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Kategorie prawa jazdy do jakich należy to pytanie</th>
                          <td>[[question_belongs_to_categories]]</td>
                        </tr>
                        <tr class="Xd-none">
                          <th scope="row">Nazwa pliku z obrazkiem / filmem</th>
                          <td>[[media_transformed_file_name]]</td>
                        </tr>
                        <tr>
                          <th scope="row">Wartość punktowa</th>
                          <td>[[score]]</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <!-- ROW ROW -->
              <div class="row">
                <div class="col">
                  <div class="mt-5 pb-5 text-start">
                    <p> Pamiętaj, że jedno konkretne pytanie z
                      <strong> testów na prawo jazdy aktualnych w {{year}} </strong> może należeć do wielu różnych kategorii prawa jazdy. To pytanie testowe należy to kategorii [[all_categories]]
                    </p>
                    <p>Dostępne kategorie pytań z testów na prawo jazdy w {{styczniu}} {{year}} to
                      <strong>[[all_categories]]!</strong>
                    </p>
                  </div>
                </div>
              </div>

              <!-- ROW ROW -->
              <div class="row mb-2">

                <!-- OTHER QUESTIONS -->
                <div class="col">
                  <h2>Zobacz też inne pytania testowe!</h2>
                  <div m-loop="10,20,30,40,50,60,70,80,90,100" class="list-group text-start">
                    <a m-if="next_xxx_question_slug" :href="next_xxx_question_slug" href="[[next_xxx_question_slug]]" class="list-group-item list-group-item-dark">Pytanie [[nr_xxx]]. [[next_xxx_question_slug]]
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <!-- RIGHT SIDEBAR  -->
            <div class="col-12 col-lg-6"> [[right_sidebar]] </div>
          </div>
        </div>
      </main>

      <!-- FOOTER  --> [[footer]]
    </div>
  </body>
</html>